{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Crelate API Reference",
    "description" : "\r\n# Overview\r\nThe Crelate Api is built on HTTP and is RESTful. We return JSON responses and has predictable URL resources. Every endpoint requires a [valid api key](#section/Overview/API-Key-Management) in order to successfully use the API. \r\n\r\n## Disclaimer\r\nThe Crelate API is currently in beta status. As such, it may change at any time without notice.\r\n\r\n## Previous Documentation\r\n<a href='/api/pub/v1/docs/g/index' target='_blank'>Previous documentation styling with **TRY IT OUT** feature.</a>\r\n\r\n## API Key Management\r\nA Crelate API key can be acquired from the application under <a href='https://help.crelate.com/en/articles/4120535-find-and-manage-your-api-key' target='_blank'>Settings -> My Settings &amp; Preferences</a>.\r\n\r\nYour organization administrator will need to <a href='https://help.crelate.com/en/articles/4120534-api-key-management-and-documentation' target='_blank'>enable API access for non-admin users</a>. Administrators can enable API access for other users by turning on the API access in\r\nSettings -> Advanced Settings -> User Roles.\r\n\r\nYou can turn off API access or regenerate your API key at any time. After disabling or regenerating your API key, existing API processes will begin to fail.\r\n\r\nWhen making HTTP requests, the API key should be specified as a querystring parameter like so:\r\n```html\r\nhttps://app.crelate.com/api/pub/v1/contacts/2057720a-2e8e-4feb-8e44-d8dcf943be5a/?api_key=7e5b949f90924f64afa5c8fed81b6e41\r\n```\r\n\r\n## Lookups\r\nCrelate uses lookups in cases where one record needs to refer to another. For example, an account record can refer to a billing contact.\r\nIn the API, these lookups are represented with Id, FirstName and LastName fields. The account record has three properties for billing contact:\r\nAdditionalContact_Billing_Id, AdditionalContact_Billing_FirstName and AdditionalContact_Billing_LastName.\r\n\r\nWhen saving an account, Crelate decides how to handle the incoming data based on these rules:\r\n - If the Id field is specified, the contact record with the given Id is attached to the account record. In this case, the FirstName and LastName fields are ignored.\r\n - If the Id field is blank, and a FirstName and LastName is specified, a new contact record will be created with the given FirstName and LastName. This new contact record will be attached to the account as the billing contact.\r\n\r\nThe Crelate API handles all lookups based on the these rules. Lookup fields can be identified by the suffix _Id.\r\n\r\n## Required Attributes\r\nWhen saving a record, the following attributes are required. If an invalid record is submitted an HTTP 500 status code will be returned with a list of the missing fields included in the body.\r\n- Company: Name\r\n- Job: Name\r\n- Note: Body\r\n- Task: Body\r\n\r\n## Custom Fields\r\nCrelate provides up to 80 custom fields on Jobs, Contacts, and Companies. These fields are named CustomField1, CustomField2, ... CustomField80. Each custom field will accept a single type: __string__, __date__, __number__, or a __custom picklist__.\r\n\r\n_Please note:_ custom picklist fields are **not** supported by the API at this time.\r\n - CustomField1 - 10:  string\r\n - CustomField11 - 20: number\r\n - CustomField21 - 30: date\r\n - ~~CustomField31 - 40: custom picklist~~\r\n - CustomField41 - 50: string\r\n - CustomField51 - 60: number\r\n - CustomField61 - 70: date\r\n - ~~CustomField71 - 80: custom picklist~~\r\n\r\n## Tags \r\nTags are supported for various record types in the Crelate API. When saving a record, the tags object should contain keys that correspond to the names of each tag category in your Crelate organization. The tags for the default category can be specified with a key of 'Default'. If your Crelate organization had two tag categories, the default category and a category called Skills, the tags object would be:\r\n```\r\n{\r\n\t... other fields ...\r\n\r\n\tTags: {\r\n\t'Default': [ 'High Priority', '' ],\r\n\t'Skills': [ 'Tech', '.NET', 'SQL' ]\r\n\t}\r\n}\r\n```\r\n\r\n## Date/Time handling\r\nAll dates are expected to be supplied as IS0 8601 format in the UTC timezone. For example '2017-01-01T15:00:00Z'. If dates are supplied in any other format or timezone, the operation may fail or you may encounter unpredictable results.\r\n\r\n## Zapier integration\r\n<a href='https://zapier.com' target='_blank'>Zapier</a> is an online integration service which allow you to create business automation processes through a web interface. Zapier offers connectivity to a over 1500 third party services including Crelate.\r\n<a href='https://zapier.com/apps/crelate/integrations' target='_blank'>Get Started With Crelate + Zapier</a>.\r\n\r\n## How to generate client code\r\n<a href='https://swagger.io' target='_blank'>Swagger</a> is an document format which enables delivery of a portable service definition for REST API services. Crelate uses this format to describe our API services. To generate client code in your language of choice:\r\n- Copy the [Crelate service definition JSON](/api/pub/v1)\r\n- Generate client code. Visit <a href='swagger.io' target='_blank'>http://editor.swagger.io</a> and paste the Crelate service definition JSON. (File -> Paste JSON)\r\n- Once the Crelate definition is imported, select 'Generate Client' from the menu and select a lauguage. A zip file will be downloaded which contains the client code library.\r\n- If you are using the .NET framework, <a href='https://github.com/NSwag/NSwag' target='blank'>NSwag</a> can be used to generate a C# client library.\r\n",
    "termsOfService" : "https://www.crelate.com/terms",
    "contact" : {
      "name" : "Crelate Support",
      "email" : "support@crelate.com"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://app.crelate.com/"
  } ],
  "tags" : [ {
    "name" : "Applications",
    "description" : "\r\nIn Crelate, applications store information about an individual applicant when they apply. This API exposes many of the functions found in the Intake tab in Crelate, from approving and rejecting applicants to downloading an applicant's resume. \r\n\r\n## Creating Applications\r\nAt this time, the API does not support creating an application that is not attached to a job. In order to create an application, please [create an application that is attached to a job](#operation/PostJobPostingApplication).\r\n"
  }, {
    "name" : "Companies",
    "description" : "\r\nIn Crelate, jobs and contacts can belong to a company. This API allows you to manage your companies by creating, updating, retrieving, and deleting them.\r\n"
  }, {
    "name" : "Contacts",
    "description" : "\r\nContacts hold information about an individual. This API allows you to manage your contacts by creating, updating, retrieving, and deleting them. It also provides additional functionality from viewing placements to managing the jobs a particular contact is on.\r\n"
  }, {
    "name" : "Delivery Types",
    "description" : "\r\nDelivery Types consists of Time Types and Expense Types\r\n"
  }, {
    "name" : "Domain",
    "description" : "\r\nBecause Crelate offers an extensive amount of flexibility, many of our endpoints require information that is unique to your account such as the way [you organize your recruiting workflow](#operation/GetWorkflowTypes) or how you classify attachments. This API provides information about _your_ particular account. \r\n"
  }, {
    "name" : "Expense Types",
    "description" : "\r\nExpense Types for setting expense information.\r\n"
  }, {
    "name" : "Exports",
    "description" : "\r\nAn export is a backup of your entire account. This API allows you to retrieve an individual export, request an export, or see all exports ever requested for your account. It makes available the functionality found under Settings -> Advanced -> Data Export.\r\n\r\n_Please Note:_ Export limits are still enforced from this API. If you request an export before you're allowed, it will fail and we'll let you know when you can next request one.\r\n\r\n<a href='https://help.crelate.com/en/articles/4120425-exporting-your-database' target='_blank'>Learn More About Exports In Crelate</a>\r\n"
  }, {
    "name" : "Job Postings",
    "description" : "\r\nIn Crelate, job postings are a way to publicly display your internal jobs. This endpoint allows you to manage the job postings that are exposed on your Job Portal. Create, Retrieve, Search, Update, and Delete job postings from this API.\r\n\r\n<a href='https://help.crelate.com/en/articles/4120291-enabling-your-job-portal-and-publishing-jobs' target='_blank'>Learn More About Job Postings</a>\r\n"
  }, {
    "name" : "Jobs",
    "description" : "\r\nIn Crelate, jobs store information about a particular position. From job postings to workflows, jobs helps users organize their open recruitment and staffing requests.\r\n"
  }, {
    "name" : "Notes",
    "description" : "\r\nA note is a type of activity available in Crelate. It's used to store text information. This API allows you to create, read, update, and delete individual notes.\r\n"
  }, {
    "name" : "Tasks",
    "description" : "\r\nTasks are scheduled activities in Crelate. This API exposed CRUD operations for tasks that are not regarding a Job, Contact, or Company.\r\n\r\nYou can also create tasks that are regarding a [Contact](#operation/PostContactTask),[Job](#operation/PostJobTask), or [Company](#operation/PostCompanyTask)\r\n"
  }, {
    "name" : "Time Types",
    "description" : "\r\nTime Types for setting time keeping information.\r\n"
  } ],
  "paths" : {
    "/api/pub/v1/accounts/{accountId}/activities" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve activities for a company",
        "description" : "This endpoint returns all activities for a particular company. The activities returned are ordered by most recent first.\r\nA paginated list of activities will be returned to you with a maximum of 500 activities per request. If no take is\r\nspecified, 50 will be returned.",
        "operationId" : "CompanyActivities",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startUtc",
          "in" : "query",
          "description" : "optional, retrieves all activities that were created on or after this date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endUtc",
          "in" : "query",
          "description" : "optional, retrieves all activities that were created on or before this date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetActivitiesResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetActivitiesResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "StartUtc must be before EndUtc.",
            "content" : { }
          },
          "404" : {
            "description" : "Company not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/applications" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "retrieve applications",
        "description" : "The get all applications endpoint returns all of the applications ever created for your account. This endpoint\r\nautomatically sorts the response so that the most recent applications will be returned first.\r\nA paginated list of applications will be returned to you with a maximum of 500 applications per request. If no\r\ntake is specified, 50 will be returned.\r\n[Get all applications for a specific job](#operations/GetAllJobApplications)",
        "operationId" : "GetAllApplications",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetApplicationResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetApplicationResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "More than 500 records were requested.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/applications/{applicationId}" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "retrieve application",
        "description" : "The retrieve an application endpoint returns information about a particular application by its ID. The application\r\nID is stored in a field call 'Id'.",
        "operationId" : "GetApplication",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetApplicationResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetApplicationResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "There is no application with that Id.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/applications/{applicationId}/attachments/{attachmentId}" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "retrieve attachment content",
        "description" : "This endpoint returns the content of an application\r\nThe attachment is a Base64 encoded string found in the Content of the response. The attachment type and length are\r\nfound under the ContentType and ContentLength headers respectively.",
        "operationId" : "GetApplicationAttachment",
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "application identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StreamContent"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StreamContent"
                }
              }
            }
          },
          "404" : {
            "description" : "There is either no application or application attachment with that Id.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/applications/approve" : {
      "put" : {
        "tags" : [ "Applications" ],
        "summary" : "approve application",
        "description" : "This endpoint will approve an application. In order to successfully make the request, provide a request object\r\nthat contains: <br />\r\n### Request Object\r\n- ApplicationId: the id of the application to approve\r\n- MatchedContactId: (optional) the id of an already existing contact that this application is a match of. This\r\nwill merge this application with that contact.\r\n- IgnorePossibleMatches: (optional - defaults to false) a boolean that, if set to true, will ignore matches,\r\ncreate a new contact, and block it. Or if set to false, will look for matches and require MatchedContactId to be\r\nprovided if there is a match.\r\n- Note: a note to be added to the contact when they are approved, may be required depending on your Crelate\r\nsettings\r\n### BadRequest - 400\r\nIf the request is poorly formed, a 400 status code and a detailed response will be provided indicating the problem\r\nand the steps to resolve it.\r\nBad Request Response:\r\n- Message: A string that explains in human readable language why the request was rejected\r\n- ContactMatches: A list of matches that the system found. Use this to provide a MatchedContactId. If the\r\nMatchedContactId provided in the request is not in this list, the request will be rejected (error code 4001)\r\n- FailureCode: An integer that is one of several possible values:\r\n- 4001 = BadContactMatchId (the application has possible matched, a MatchedContactId is required or set\r\nIgnorePossibleMatches to true)\r\n- 4002 = ContactMatchIdRequired (a match was found but no MatchedContactId was provided)\r\n- 4004 = NullApplicationId (an application id was not provided in the request)\r\n- 4005 = ApplicationIsNotNew (the application has already been approved, rejected, or marked as spam)\r\n- 4006 = ActivityNoteRequired (provide a note in Note)",
        "operationId" : "ApproveApplication",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "approve application request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApproveApplicantWorkflowAction"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApproveApplicantWorkflowAction"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApproveApplicantWorkflowAction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "400" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiApplicationResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiApplicationResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/applications/reject" : {
      "put" : {
        "tags" : [ "Applications" ],
        "summary" : "reject application",
        "description" : "This endpoint will reject an application. In order to successfully make the request, provide a request object that\r\ncontains: <br />\r\n### Request Object\r\n- ApplicationId: the id of the application to reject\r\n- MatchedContactId: (optional) the id of an already existing contact that this application is a match of. This\r\nwill merge this application with that contact.\r\n- IgnorePossibleMatches: (optional - defaults to false) a boolean that, if set to true, will ignore matches,\r\ncreate a new contact, and block it. Or if set to false, will look for matches and require MatchedContactId to be\r\nprovided if there is a match.\r\n- PassReasonNote: a note to be added to the contact when they are passed, may be required depending on your\r\nCrelate settings\r\n- PassReasonId: an identifier for a pass reason, this may be required depending on your Crelate settings.\r\n[Find a list of valid pass reasons for your account](#domain/GetEEOCPassReasons)\r\n### BadRequest - 400\r\nIf the request is poorly formed, a 400 status code and a detailed response will be provided indicating the problem\r\nand the steps to resolve it.\r\nBad Request Response:\r\n- Message: A string that explains in human readable language why the request was rejected\r\n- ContactMatches: A list of matches that the system found. Use this to provide a MatchedContactId. If the\r\nMatchedContactId provided in the request is not in this list, the request will be rejected (error code 4001)\r\n- FailureCode: An integer that is one of several possible values:\r\n- 4001 = BadContactMatchId(the application has possible matched, a MatchedContactId is required or set\r\nIgnorePossibleMatches to true)\r\n- 4002 = ContactMatchIdRequired  (a match was found but no MatchedContactId was provided)\r\n- 4003 = PassReasonRequired (A pass reason is required to reject a candidate, please provide [a pass reason in\r\nPassReasonId](#operation/GetEEOCPassReasons))\r\n- 4004 = NullApplicationId (an application id was not provided in the request)\r\n- 4005 = ApplicationIsNotNew (the application has already been approved, rejected, or marked as spam)\r\n- 4006 = ActivityNoteRequired (provide a note in PassReasonNote)",
        "operationId" : "RejectApplication",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "reject application request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RejectApplicantWorkflowAction"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RejectApplicantWorkflowAction"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/RejectApplicantWorkflowAction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "400" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiApplicationResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiApplicationResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/applications/spam" : {
      "put" : {
        "tags" : [ "Applications" ],
        "summary" : "set application as spam",
        "description" : "This endpoint will mark an application as spam and blocks the applicant. When a contact is blocked, they are no\r\nlonger visible and any future applications from that contact will be ignored. In order to successfully make the\r\nrequest, provide a request object that contains: <br />\r\n### Request Object\r\n- ApplicationId: the id of the application to mark as spam\r\n- MatchedContactId: (optional) the id of an already existing contact that this application is a match of. This\r\nwill merge this application with that contact and block it. <br /><br />\r\n- IgnorePossibleMatches: (optional - defaults to false) a boolean that, if set to true, will ignore matches,\r\ncreate a new contact, and block it. Or if set to false, will look for matches and require MatchedContactId to be\r\nprovided if there is a match.\r\n### BadRequest - 400\r\nIf the request is poorly formed, a 400 status code and a detailed response will be provided indicating the problem\r\nand the steps to resolve it.\r\nBad Request Response:\r\n- Message: A string that explains in human readable language why the request was rejected\r\n- ContactMatches: A list of matches that the system found. Use this to provide a MatchedContactId. If the\r\nMatchedContactId provided in the request is not in this list, the request will be rejected (error code 4001)\r\n- FailureCode: An integer that is one of several possible values:\r\n- 4001 = BadContactMatchId (the application has possible matched, a MatchedContactId is required or set\r\nIgnorePossibleMatches to true)\r\n- 4002 = ContactMatchIdRequired  (a match was found but no MatchedContactId was provided)\r\n- 4004 = NullApplicationId (an application id was not provided in the request)\r\n- 4005 = ApplicationIsNotNew  (the application has already been approved, rejected, or marked as spam)",
        "operationId" : "BlockApplication",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "block application request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicantWorkflowAction"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicantWorkflowAction"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicantWorkflowAction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "400" : {
            "description" : "BadRequest",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiApplicationResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiApplicationResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/applications/status/{statusId}" : {
      "get" : {
        "tags" : [ "Applications" ],
        "summary" : "retrieve applications by status",
        "description" : "This endpoint returns all applications with a particular status. To successfully query this endpoint, you must\r\nprovide a valid status Id. This endpoint automatically sorts the response so that the most recent applications\r\nwill be returned first.\r\nA paginated list of applications will be returned to you with a maximum of 500 applications per request. If no\r\ntake is specified, 50 will be returned.\r\n[Find a list of your account's valid application statuses](#operation/GetApplicationStatuses)\r\n[Get all applications with a particular status for a specific job](#operations/GetAllJobApplications)",
        "operationId" : "GetAllApplicationsByStatus",
        "parameters" : [ {
          "name" : "statusId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetApplicationResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetApplicationResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "More than 500 records were requested.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/companies" : {
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "create company",
        "description" : "This endpoint creates a company.",
        "operationId" : "PostCompany",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAccountRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAccountRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAccountRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "471" : {
            "description" : "Duplicate record found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid",
                  "example" : "00000000-0000-0000-0000-000000000000"
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "string",
                  "format" : "uuid",
                  "example" : "00000000-0000-0000-0000-000000000000"
                }
              }
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/companies/{companyId}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve company",
        "description" : "This endpoint retrieves a specific company.",
        "operationId" : "GetCompany",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetAccountResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetAccountResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "put" : {
        "tags" : [ "Companies" ],
        "summary" : "update company",
        "description" : "This endpoint updates a particular company.\r\nTo partially update a record, only pass in the fields that you'd like to update.",
        "operationId" : "PutCompany",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAccountRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAccountRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAccountRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      },
      "delete" : {
        "tags" : [ "Companies" ],
        "summary" : "delete company",
        "description" : "This endpoint deletes a particular company.",
        "operationId" : "DeleteCompany",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/companies/{companyId}/attachments" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve attachment",
        "description" : "This endpoint returns information about the attachments for a particular job. This does _not_ return the\r\nattachment itself.",
        "operationId" : "GetAllCompanyAttachments",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiAttachmentResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiAttachmentResponseList"
                }
              }
            }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "create attachment",
        "description" : "This endpoint adds an attachment to a company. You may [provide a document type](#operation/GetDocumentTypes) to\r\norganize your document in Crelate.\r\nThe Content field should contain a Base64 encoded string representing the contents of the resume, the FileName\r\nshould be the original resume filename including the extension.",
        "operationId" : "PostCompanyAttachment",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAttachmentRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAttachmentRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAttachmentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/companies/{companyId}/attachments/{attachmentId}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve attachment content",
        "description" : "This endpoint returns an attachment for a particular company.\r\nThe attachment is a stream found in the Content of the response. The attachment type and length are found under\r\nthe ContentType and ContentLength headers respectively.",
        "operationId" : "GetCompanyAttachmentContent",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "404" : {
            "description" : "An attachment with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "delete" : {
        "tags" : [ "Companies" ],
        "summary" : "delete attachment",
        "description" : "This endpoint deletes and attachment for a company.",
        "operationId" : "DeleteCompanyAttachment",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "job identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "404" : {
            "description" : "An attachment with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/companies/{companyId}/notes" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve notes",
        "description" : "This endpoint returns all notes for a particular company. The notes returned are ordered by most recent first.\r\nA paginated list of notes will be returned to you with a maximum of 500 notes per request. If no take is\r\nspecified, 50 will be returned.",
        "operationId" : "GetAllCompanyNotes",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetNoteResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetNoteResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "More than 500 records were requested.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "create note",
        "description" : "This endpoint creates a note activity regarding the specified company.",
        "operationId" : "PostCompanyNote",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveNoteRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveNoteRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveNoteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/companies/{companyId}/notes/{noteId}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve note",
        "description" : "This endpoint retrieves a not for the specified company.",
        "operationId" : "GetCompanyNote",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "noteId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetNoteResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetNoteResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "put" : {
        "tags" : [ "Companies" ],
        "summary" : "update note",
        "description" : "This endpoint updates a note for the specified company.\r\nTo partially update a record, only pass in the fields that you'd like to update.",
        "operationId" : "PutCompanyNote",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "noteId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveNoteRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveNoteRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveNoteRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "404" : {
            "description" : "A note with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      },
      "delete" : {
        "tags" : [ "Companies" ],
        "summary" : "delete note",
        "description" : "This endpoint deletes a note for the specified company",
        "operationId" : "DeleteCompanyNote",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "noteId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "404" : {
            "description" : "A note with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/companies/{companyId}/tasks" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve tasks",
        "description" : "This endpoint returns all tasks for a particular company. The tasks returned are ordered by due date descending.\r\nA paginated list of tasks will be returned to you with a maximum of 500 tasks per request. If no take is\r\nspecified, 50 will be returned.",
        "operationId" : "GetAllCompanyTasks",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetTaskResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetTaskResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "More than 500 records were requested.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "post" : {
        "tags" : [ "Companies" ],
        "summary" : "create task",
        "description" : "This endpoint creates a task for the specified company.",
        "operationId" : "PostCompanyTask",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveTaskRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveTaskRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveTaskRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/companies/{companyId}/tasks/{taskId}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve task",
        "description" : "This endpoint retrieves a task for the specified company.",
        "operationId" : "GetCompanyTask",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "taskId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetTaskResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetTaskResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "A company with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "put" : {
        "tags" : [ "Companies" ],
        "summary" : "update task",
        "description" : "This endpoint updates a note for the specified company.\r\nTo partially update a record, only pass in the fields that you'd like to update.",
        "operationId" : "PutCompanyTask",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "taskId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveTaskRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveTaskRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveTaskRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "404" : {
            "description" : "A task with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      },
      "delete" : {
        "tags" : [ "Companies" ],
        "summary" : "delete task",
        "description" : "This endpoint deletes a task for the specified company",
        "operationId" : "DeleteCompanyTask",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "taskId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "404" : {
            "description" : "A task with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/companies/lists/{listId}" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve companies by list id",
        "description" : "This endpoint retrieves a list of companies belonging to a specific list id provided.\r\nA paginated list of companies will be returned to you with a maximum of 500 companies per request. If no take is\r\nspecified, 50 will be returned. You can retrieve a list of all company list ids and names from [this endpoint.](#operation/GetCompanyLists)",
        "operationId" : "GetAccountsByList",
        "parameters" : [ {
          "name" : "listId",
          "in" : "path",
          "description" : "guid of the list id containing companies",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetAccountResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetAccountResponseList"
                }
              }
            }
          },
          "204" : {
            "description" : "No companies found.",
            "content" : { }
          },
          "400" : {
            "description" : "More than 500 records were requested.",
            "content" : { }
          },
          "404" : {
            "description" : "Not Found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/companies/recent" : {
      "get" : {
        "tags" : [ "Companies" ],
        "summary" : "retrieve recent companies",
        "description" : "This endpoint retrieves a list of companies that were created or updated within a certain minute based time frame\r\ninclusively. You may optionally filter by record type.\r\nA paginated list of jobs will be returned to you with a maximum of 500 jobs per request. If no take is specified,\r\n50 will be returned.\r\nExample: To retrieve all companies updated or created within the last hour, query this endpoint and set\r\nmodified=60",
        "operationId" : "GetRecentCompany",
        "parameters" : [ {
          "name" : "modified",
          "in" : "query",
          "description" : "modified within x number of minutes",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "format" : "double"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "filter by record type, acceptable options are null, 0, 1, 2, 3, 4, 5, 6, 7\r\ndefaults to 0, 0 = All contacts regardless of record type\r\nnull = contacts without a record type\r\nStandard: 1 = Customer, 2 = Potential Customer,\r\nCombined: 3 = Customer and Potential Customer\r\ne.g. type 7 will select only contacts who are all three types",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetAccountResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetAccountResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "More than 500 records were requested.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/contacts" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "retrieve contacts by email",
        "description" : "This endpoint retrieves a list of contacts by email address.",
        "operationId" : "GetContactByEmail",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "email address",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetContactResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetContactResponseList"
                }
              }
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "create contact",
        "description" : "This endpoint creates a contact.",
        "operationId" : "PostContact",
        "parameters" : [ {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "471" : {
            "description" : "Duplicate Found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/contacts/{contactId}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "retrieve contact",
        "description" : "This endpoint retrieves a specific contact by id.",
        "operationId" : "GetContact",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetContactResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetContactResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "A contact with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "put" : {
        "tags" : [ "Contacts" ],
        "summary" : "update contact",
        "description" : "This endpoint updates a specific contact\r\nTo partially update a record, only pass in the fields that you'd like to update.",
        "operationId" : "PutContact",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "404" : {
            "description" : "A contact with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "delete contact",
        "description" : "This endpoint deletes a specific contact",
        "operationId" : "DeleteContact",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "404" : {
            "description" : "A contact with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/contacts/{contactId}/activities" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "retrieve activities for a contact",
        "description" : "This endpoint returns all activities for a particular contact. The activities returned are ordered by most recent first.\r\nA paginated list of activities will be returned to you with a maximum of 500 activities per request. If no take is\r\nspecified, 50 will be returned.",
        "operationId" : "ContactActivities",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startUtc",
          "in" : "query",
          "description" : "optional, retrieves all activities that were created on or after this date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endUtc",
          "in" : "query",
          "description" : "optional, retrieves all activities that were created on or before this date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetActivitiesResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetActivitiesResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "StartUtc must be before EndUtc.",
            "content" : { }
          },
          "404" : {
            "description" : "Contact not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/contacts/{contactId}/attachments" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "retrieve attachment",
        "description" : "This endpoint returns information about the attachments for a particular job. This does _not_ return the\r\nattachment itself.",
        "operationId" : "GetContactAttachments",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiAttachmentResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiAttachmentResponseList"
                }
              }
            }
          },
          "404" : {
            "description" : "A contact with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "create attachment",
        "description" : "This endpoint adds an attachment to a particular contact. You may [provide a document\r\ntype](#operation/GetDocumentTypes) to organize your document in Crelate.\r\nThe Content field should contain a Base64 encoded string representing the contents of the resume, the FileName\r\nshould be the original resume filename including the extension.",
        "operationId" : "PostContactAttachment",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAttachmentRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAttachmentRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveAttachmentRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/contacts/{contactId}/attachments/{attachmentId}" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "retrieve attachment content",
        "description" : "This endpoint returns an attachment for a particular job.\r\nThe attachment is a stream found in the Content of the response. The attachment type and length are found under\r\nthe ContentType and ContentLength headers respectively.",
        "operationId" : "GetContactAttachmentContent",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              },
              "text/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "404" : {
            "description" : "An attachment with that id was not found.",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "delete" : {
        "tags" : [ "Contacts" ],
        "summary" : "delete attachment",
        "description" : "This endpoint allows you to delete an attachment from a contact. The attachment specificed must exist on the\r\ncontact to successfully return.",
        "operationId" : "DeleteContactAttachment",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "contact identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "attachmentId",
          "in" : "path",
          "description" : "attachment identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : { }
          },
          "400" : {
            "description" : "A job with that id was not found",
            "content" : { }
          },
          "404" : {
            "description" : "An attachment with that id was not found",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      }
    },
    "/api/pub/v1/contacts/{contactId}/email" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "retrieves all emails from a contact",
        "description" : "This endpoint retrieves emails that are associated with the contact that have been sent or\r\nreceived. It excludes bulk emails.",
        "operationId" : "GetEmails",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "Id of the contact that the email is linked with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "Crelate API key.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Skip number of records, default 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "take",
          "in" : "query",
          "description" : "Retrieve x amount of records, limit 500, default 50",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetEmailsResponseList"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiGetEmailsResponseList"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        }
      },
      "post" : {
        "tags" : [ "Contacts" ],
        "summary" : "appends email to a contact",
        "description" : "This endpoint appends an email to a contact.",
        "operationId" : "PostEmail",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "Id of the contact that the email will be linked with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "Crelate API key.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "Request body containing the email information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactEmailRequest"
              }
            },
            "text/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactEmailRequest"
              }
            },
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/PublicApiSaveContactEmailRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              },
              "text/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicApiIdResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Malformed request",
            "content" : { }
          },
          "500" : {
            "description" : "InternalServerError",
            "content" : { }
          }
        },
        "x-codegen-request-body-name" : "request"
      }
    },
    "/api/pub/v1/contacts/{contactId}/jobs" : {
      "get" : {
        "tags" : [ "Contacts" ],
        "summary" : "retrieve jobs",
        "description" : "This endpoint returns all the jobs the contact is associated with.",
        "operationId" : "GetContactJobs",
        "parameters" : [ {
          "name" : "contactId",
          "in" : "path",
          "description" : "contact identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "api_key",
          "in" : "query",
          "description" : "crelate api key",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
[...]
